<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar></mat-toolbar>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div>
  <h2>Timer:</h2>
  <app-timer></app-timer>
</div>

<router-outlet></router-outlet>
